<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Your Movie</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="light-theme.css" id="styleLink">
  </head>
  <body>
    <div class="root">
      <header>
        <h1>Find Your Movie</h1>
        <ul class="theme-option">
          <li><button id="lightThemeBtn" class="btn">light theme</button></li>
          <li><button id="darkThemeBtn" class="btn">dark theme</button></li>
        </ul>
      </header>
      <div class="appField">
        <div class="sideBar">
          <form class="searchForm">
            <input type="text" id="searchInput" placeholder="Search for movies by name...">
            <button type="submit" class="btn">search</button>
          </form>
          <div class="searchCategories">
            <button id="popular" class="btn">popular</button>
            <button id="topRated" class="btn">top rated</button>
            <button id="upcoming" class="btn">upcoming</button>
          </div>
        </div>
        <div class="gallery"></div>
      </div>
    </div>

    <script type="text/template" id="movieCardTemplate">
      <div class="card">
        <div class="posterWrapper">
          <img class="moviePoster" src="<%- poster %>" alt="poster">
        </div>
        <h2 class="movieTitle"><%- title %></h2>
        <p><%- overview %></p>
        <p>Release: <%- release %></p>
        <p class="rating"><%- rating %></p>
      </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
