* {
  font-family: sans-serif;
}

body {
  background: #fff;
}

.root {
  padding: 0 30px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #2f2d80;
  margin-bottom: 15px;
}

header h1 {
  color: #2f2d80;
}

.theme-option {
  display: flex;
  list-style: none;
}

.theme-option .btn {
  width: 120px;
  margin: 5px;
}

.appField {
  display: flex;
}

.sideBar {
  flex-basis: 20%;
  width: 290px;
}

#searchInput {
  padding: 5px 7px;
  margin-right: 5px;
  border-radius: 5px;
  border: 5px solid #2f2d80;
}

.searchForm,
.searchCategories {
  display: flex;
  justify-content: space-between;
}

.searchCategories {
  margin-top: 20px;
}

.btn {
  width: 90px;
  padding: 10px 5px;
  margin-right: 5px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  background: #2f2d80;
  color: #fff;
}

.active {
  border: 2px solid red;
}

.gallery {
  flex-basis: 78%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.errorMessage {
  margin: 20px auto;
  font-size: 20px;
  color: #2f2d80;
}

.card {
  width: 255px;
  height: 370px;
  position: relative;
  padding: 5px;
  margin: 0 15px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  background: #d0f5e4;
  border: 1px solid #061f80;
}

.card:hover {
  box-shadow: 5px 5px 10px 5px rgba(68,86,156,.3);
}

.posterWrapper {
  height: 180px;
}

.card img {
  width: 242px;
  height: 180px;
  object-fit: cover;
}

.card h2 {
  font-size: 20px;
  line-height: 26px;
}

.rating {
  position: absolute;
  top: -16px;
  left: 0;
  width: 30px;
  padding: 10px;
  border-radius: 5px 0 15px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background: #ffd500;
}
