@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro.woff') format('woff');
}

@font-face {
    font-family: Avian;
    src: url('../fonts/Avian.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro.woff') format('woff');
}
