@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/lucida_sans_unicode.woff2'),
         url('../fonts/lucida_sans_unicode.woff');
    font-weight: normal;
    font-style: normal;
}
