.wrapper {
  width: 910px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/*HEADER*/

.row-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 7px 7px;
}

.phones {
  padding-left: 25px;
  background: url('../img/result.png') no-repeat 0 1px;
}

.phones span {
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 25px;
  color: #5e696d;
}

.login-form {
  position: relative;
  top: -3px;
  width: 495px;
  height: 26px;
  padding: 3px 0 0 24px;
  box-sizing: border-box;
  -webkit-border-radius: 4px/3px;
  -moz-border-radius: 4px/3px;
  border-radius: 4px/3px;
  background-color: #b1bcc0;
  -webkit-box-shadow: 2px 3px 3px rgba(150,150,150,.75);
  -moz-box-shadow: 2px 3px 3px rgba(150,150,150,.75);
  box-shadow: 2px 3px 3px rgba(150,150,150,.75);
  background: url('../img/result.png') no-repeat 7px -26px,
              linear-gradient(#206988, #114165 59%, #0c3256);
  font-family: "Lucida Sans Unicode", sans-serif;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 113px;
	height: 14px;
  margin-right: 1px;
  border: solid 1px #9ba1a3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
	background-color: #fff;
}

.login-form input::-webkit-input-placeholder {
  position: relative;
  top: -2px;
  padding-left: 4px;
  font-size: 11px;
  letter-spacing: .4px;
  color: #97a2a6;
}

.login-form input:-moz-placeholder {
  position: relative;
  top: -2px;
  padding-left: 4px;
  font-size: 11px;
  color: #97a2a6;
}

.login-form .login-btn {
  margin-left: -5px;
  border: none;
  background: none;
  font-family: "Lucida Sans Unicode", sans-serif;
}

.login-form .login-btn:active,
.login-form .login-btn:focus {
  outline: none;
}

.login-form .login-btn,
.login-form .registration {
  font-size: 10.91px;
  color: #fff;
}

.login-form .login-btn::after {
  content: "";
  position: relative;
  top: -13px;
  left: 5px;
  display: block;
  height: 10px;
  border-right: 1px solid #fff;
}

.login-form a {
  font-family: "Lucida Sans Unicode", sans-serif;
}

.login-form .registration {
  margin-left: -1px;
  letter-spacing: -.2px;
  text-decoration: none;
}

.pass-recovery {
  display: inline-block;
  margin-left: 15px;
  padding-bottom: 1px;
  border-bottom: 1px solid #bfbfbf;
  font-size: 12px;
  text-decoration: none;
  color: #bfbfbf;
}

.mini-menu {
  position: relative;
  top: -2px;
  left: 1px;
  width: 75px;
	height: 19px;
	-webkit-border-radius: 10px/10px 10px 9px 9px;
	-moz-border-radius: 10px/10px 10px 9px 9px;
	border-radius: 10px/10px 10px 9px 9px;
	border: solid 1px #bdc4c7;
}

.mini-menu ul {
  margin: 0 2px;
  padding: 0;
}

.mini-menu li {
  display: inline-block;
  width: 20px;
}

.mini-menu a {
  display: block;
  width: 14px;
  height: 19px;
  padding: 0 5px;
  background: url('../img/result.png') no-repeat;
}

.mini-menu .home {
  background-position: 6px -57px;
}

.mini-menu .site-map {
  background-position: 1px -76px;
}

.mini-menu .message {
  background-position: 0 -96px;
}

.row-bottom {
  width: 910px;
	height: 34px;
  margin-top: 3px;
  padding-right: 13px;
  box-sizing: border-box;
	-webkit-border-radius: 5px/3px 3px 2px 2px;
	-moz-border-radius: 5px/3px 3px 2px 2px;
	border-radius: 5px/3px 3px 2px 2px;
	background-color: #fff;
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.75);
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.75);
	box-shadow: 2px 3px 5px rgba(0,0,0,.75);
	border: solid 1px #0d1642;
	background-image: -webkit-linear-gradient(bottom, #000, #576068);
	background-image: -moz-linear-gradient(bottom, #000, #576068);
	background-image: -o-linear-gradient(bottom, #000, #576068);
	background-image: -ms-linear-gradient(bottom, #000, #576068);
	background-image: linear-gradient(to top, #000, #576068);
  text-align: right;
}

.main-menu,
.cart-informer {
  display: inline-block;
}

.main-menu li {
  display: inline-block;
}

.main-menu li:nth-child(2) {
  margin-right: 3px;
}

.main-menu li:nth-child(3) {
  margin-right: 3px;
}

.main-menu a {
  display: block;
  height: 26px;
  padding: 7px 10px 0;
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b1bcc0;
}

.main-menu a:hover {
	-webkit-border-radius: 12px/13px;
	-moz-border-radius: 12px/13px;
	border-radius: 12px/13px;
	background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
  color: #fff;
}

.cart-informer {
  height: 34px;
  margin-left: 55px;
  vertical-align: middle;
}

.cart-informer a {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-left: 2px;
  background: url('../img/result.png') no-repeat 1px -112px;
}

.cart-informer p {
  position: relative;
  top: -4px;
  display: inline-block;
  font-size: 11px;
  letter-spacing: .3px;
  color: #929b9f;
}

.cart-informer span {
  position: relative;
  top: 1px;
  font-size: 12px;
  letter-spacing: .2px;
  color: #0d5a8f;
}

.cart-informer .product-num span {
  margin-right: 9px;
}

.cart-informer .product-sum span {
  padding-left: 6px;
}

/*MAIN*/

.filters {
	display: flex;
  justify-content: space-between;
  margin: 11px 5px 11px 5px;
}

.filters form {
	-webkit-border-radius: 18px 17px 17px 18px/17px;
	-moz-border-radius: 18px 17px 17px 18px/17px;
	border-radius: 18px 17px 17px 18px/17px;
	background-color: #fff;
	-webkit-box-shadow: 3px 4px 5px rgba(104,104,104,.75);
	-moz-box-shadow: 3px 4px 5px rgba(104,104,104,.75);
	box-shadow: 3px 4px 5px rgba(104,104,104,.75);
	border: solid 1px #9c9c9d;
}

.filters legend {
  font-family: "Arial Black", sans-serif;
	font-size: 12px;
	color: #114165;
}

.filters label {
  display: block;
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 10px;
  color: #000;
}

.filters label span {
  font-size: 9px;
  color: #77858b;
}

.filters select {
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.75);
}

.filters .find-btn {
  position: relative;
  float: right;
  border: none;
  background: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  color: #154467;
}

.filters .car-filter {
  width: 413px;
	height: 132px;
  padding-top: 2px;
}

.car-filter legend {
  position: relative;
  left: -3px;
  text-align: center;
  letter-spacing: .4px;
}

.car-filter .half-block {
  position: relative;
  top: -7px;
  display: inline-block;
  width: 176px;
  margin-left: 16px;
  margin-right: 10px;
}

.car-filter .column {
  display: inline-block;
}

.car-filter .half-block legend {
  font-size: 10px;
  color: #154468;
  margin-bottom: 6px;
}

.car-filter .left legend {
  padding-left: 5px;
  text-align: left;
}

.car-filter .right legend {
  padding-right: 6px;
  text-align: right;
}

.car-filter select {
  display: block;
  width: 100px;
  margin-bottom: 4px;
}

.car-filter select.small {
  width: 59px;
}

.car-filter .find-btn {
  top: -7px;
  left: -15px;
}

.filters .tire-filter {
  width: 191px;
	height: 135px;
  font-family: "Lucida Sans Unicode", sans-serif;
}

.tire-filter fieldset {
  margin-top: 2px;
  margin-left: 10px;
}

.tire-filter legend {
  margin-bottom: 8px;
}

.tire-filter label,
.tire-filter select {
  display: inline-block;
}

.tire-filter .tire-size-group {
  margin-left: 4px;
  margin-bottom: 5px;
}

.tire-filter .tire-size-group select {
  width: 50px;
}

.tire-filter .radius {
  margin-left: 37px;
}

.tire-filter .checkbox-block {
  display: flex;
  margin-left: 4px;
}

.tire-filter .checkbox-block p {
  font-size: 10px;
}

.tire-filter .checkbox-group {
  width: 120px;
  margin-left: 8px;
}

.tire-filter .line input[type="checkbox"],
.tire-filter .line label {
  display: inline-block;
}

.tire-filter .line input[type="checkbox"] {
  width: 12px;
  height: 12px;
}

.tire-filter .line label {
  position: relative;
  top: -4px;
  left: -6px;
  font-size: 12px;
}

.tire-filter .line {
  margin-bottom: -8px;
}

.tire-filter .find-btn {
  top: -2px;
  left: -12px;
}

.filters .disk-filter {
  width: 266px;
	height: 134px;
  font-family: "Lucida Sans Unicode", sans-serif;
}

.disk-filter fieldset {
  margin-top: 2px;
}

.disk-filter .block {
  display: inline-block;
}

.disk-filter legend {
  margin-left: 8px;
  letter-spacing: 1px;
}

.disk-filter label {
  display: block;
  margin: 3px;
}

.disk-filter .big-block {
  position: relative;
  top: -6px;
  width: 158px;
  margin-left: 12px;
}

.disk-filter .big-block select {
  position: relative;
  top: -18px;
  width: 57px;
  margin-bottom: 12px;
}

.disk-filter select {
  font-family: Arial, sans-serif;
  font-size: 11px;
}

.disk-filter .column {
  display: inline-block;
}

.disk-filter .column:first-child {
  width: 85px;
  margin-right: 6px;
}

.disk-filter .small-block {
  position: relative;
  top: -12px;
  width: 70px;
  padding-left: 7px;
  border-left: 1px solid #bdc6ca;
}

.disk-filter .small-block select {
  margin-bottom: 5px;
  margin-left: 5px;
}

.disk-filter span {
    letter-spacing: .5px;
}

.disk-filter .small-block span {
  display: inline-block;
  font-size: 8px;
  line-height: .9em;
}

.disk-filter select.small {
  width: 50px;
}

.disk-filter .find-btn {
  top: -20px;
  left: -12px;
}

.content {
	display: flex;
	justify-content: space-between;
  padding-top: 3px;
}

aside {
	font-family: "Lucida Sans Unicode", sans-serif;
}

aside h4,
aside h5 {
	background: #fff url('../img/result.png') no-repeat;
	line-height: 25px;
	text-transform: uppercase;
	color: #114165;
}

aside h4 {
	width: 152px;
	height: 25px;
  padding-top: 1px;
	padding-left: 27px;
	margin-bottom: 12px;
	-webkit-border-radius: 12px/12px 12px 13px 13px;
	-moz-border-radius: 12px/12px 12px 13px 13px;
	border-radius: 12px/12px 12px 13px 13px;
	background-position: 2px -145px;
	-webkit-box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	-moz-box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border: solid 1px #79878d;
	font-size: 13px;
}


aside h5 {
	width: 118px;
	height: 25px;
  padding-top: 1px;
	padding-left: 30px;
	-webkit-border-radius: 11px/13px;
	-moz-border-radius: 11px/13px;
	border-radius: 11px/13px;
	border: solid 1px #79878d;
	background-position: 3px -176px;
	font-size: 14px;
}

aside.left {
  margin-top: 2px;
}

aside .brand-block {
  margin-left: 14px;
}

.product-list-block a {
  display: block;
  margin-left: 35px;
  padding-left: 12px;
  background: url('../img/result.png') no-repeat 0 -203px;
	font-size: 13px;
	line-height: 25px;
	text-decoration: none;
	color: #465961;
}

.product-list-block a:hover {
  background: url('../img/result.png') no-repeat 0 -221px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
  color: #0c3256;
}

aside.right h4 {
  font-size: 14px;
  margin-bottom: 13px;
}

aside.right h5 {
  width: 104px;
  height: 26px;
  margin-bottom: 6px;
  -webkit-border-radius: 10px/13px;
  -moz-border-radius: 10px/13px;
  border-radius: 10px/13px;
}

aside .line input[type="checkbox"] {
  width: 11px;
	height: 11px;
}

aside .line label {
  position: relative;
  top: -2px;
  left: 4px;
  font-size: 13px;
  color: #465961;
}

aside .line {
  margin-left: 5px;
  margin-bottom: 8px;
}

aside .line:last-child {
  margin-top: 10px;
}

aside.right button {
  position: relative;
  top: 13px;
  left: 22px;
  width: 80px;
	height: 24px;
	-webkit-border-radius: 10px/11px;
	-moz-border-radius: 10px/11px;
	border-radius: 10px/11px;
	background-color: #000;
	border: solid 1px #a7abae;
	background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
  font-family: Arial;
	font-size: 11px;
  text-transform: uppercase;
	color: #e5e9ea;
}

.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 526px;
	height: 627px;
	padding: 14px 30px 6px 21px;
	box-sizing: border-box;
	-webkit-border-radius: 3px/2px 2px 3px 3px;
	-moz-border-radius: 3px/2px 2px 3px 3px;
	border-radius: 3px/2px 2px 3px 3px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: -moz-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: -o-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: -ms-linear-gradient(bottom, rgba(35,75,93,.49), rgba(201,207,209,.49));
	background-image: linear-gradient(to top, rgba(35,75,93,.49), rgba(201,207,209,.49));
}

.items figure {
	text-align: center;
}

.items figcaption {
	font-family: "Lucida Sans Unicode", sans-serif;
}

.items figcaption h4 {
	font-size: 15px;
  font-weight: bold;
	color: #206988;
}

.items figcaption p {
	font-size: 13px;
	color: #1f2528;
}

.items .img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 136px;
	height: 127px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #fff;
	border: solid 1px #a4aeb1;
}

.items .price {
	margin-top: 3px;
  padding-left: 10px;
	font-family: Arial, sans-serif;
  word-spacing: 5px;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #114165;
}

.items .price span {
	font-size: 16px;
}

.brand-logos {
	margin: 37px 0 22px;
	text-align: center;
}

/*FOOTER*/

footer {
 height: 100px;
 background: #213a4d;
 text-align: center;
}

.footer-menu ul {
  position: relative;
  left: 2px;
}

.footer-menu li {
	display: inline-block;
	 margin: 12px 0 16px;
}

.footer-menu li:not(:last-child) {
	border-right: 1px solid #bec6c9;
}

.footer-menu a {
	display: block;
	padding: 0 12px;
	font-size: 12px;
	color: #bec6c9;
	text-decoration: none;
}

.footer-menu a:hover {
	color: #52abcb;
}

footer p,
footer p a {
	font-size: 10px;
	color: #7f4740;
}

footer a {
	text-decoration: none;
}
