.wrapper {
  width: 768px;
}

.page-top {
  height: 798px;
}

.menu-mobile {
  display: none;
}

header {
  text-align: left;
  height: 244px;
  box-sizing: border-box;
}

.logo {
  padding-left: 18px;
}

.menu-main {
  display: block;
  margin-top: 19px;
  margin-left: 15px;
}

.menu-main--header .menu-main__item {
  margin-right: 56px;
}

.menu-main--header .menu-main__link {
  padding: 0 5px 4px;
  font-size: 23px;
}

.menu-main--header .menu-main__item--6 {
  margin-right: 0;
  letter-spacing: .5px;
}

.menu-main--header .menu-main__item--4 {
  margin-right: 54px;
  letter-spacing: .5px;
}

.menu-main--header .menu-main__item--5 {
  letter-spacing: .3px;
}

.menu-main--header .menu-main__item:hover {
  border-bottom: 2px solid #edbfff;
}

.slider {
  margin-top: 0;
}

.slide {
  height: 400px;
}

.slide-image {
  top: -23px;
  left: 164px;
  width: 274px;
  height: 434px;
}

.slide-description {
  width: 280px;
  height: 190px;
  top: -146px;
  left: 43px;
}

.slide-text {
  display: block;
}

.slide-title {
  width: 250px;
  font-size: 48px;
  letter-spacing: -.5px;
  word-spacing: 4px;
}

.slide-subtitle {
  height: 20px;
  margin-top: 8px;
  overflow: hidden;
  font-size: 24px;
}

.slide-text {
  height: 105px;
  width: 272px;
  margin-top: 11px;
  overflow: hidden;
  line-height: 27px;
  letter-spacing: -.1px;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #fff;
}

.toggle {
  left: 200px;
  margin-top: 38px;
}

.info {
  height: 342px;
}

.info__item {
  display: inline-block;
  width: 205px;
  height: 195px;
  margin-top: 24px;
  margin-left: 27px;
  margin-right: 17px;
}

.info__item--3 {
  margin-right: 0;
  margin-left: 36px;
}

.info-text {
  width: 150px;
  height: 150px;
  letter-spacing: -.5px;
}

.info__link {
  margin-top: 5px;
  margin-right: 3px;
}

.news-block {
  height: 486px;
  padding-top: 101px;
}

.post,
.updates {
  display: inline-block;
}

.post {
  width: 340px;
}

.post__item {
  width: 315px;
}

.post-title {
  margin-top: 3px;
}

.post-title::before {
  top: -12px;
  left: -64px;
}

.post-title h3,
.post__link {
  font-size: 24px;
}

.post__link {
  display: block;
}

.post-text {
  width: 246px;
  height: 140px;
  overflow: hidden;
  margin-top: 7px;
  margin-left: -1px;
}

.toggle--post {
  margin-left: 60px;
}

.updates {
  position: relative;
  top: -20px;
  margin-left: 72px;
}

.updates__link {
  padding-right: 10px;
}

.partners__link {
  margin-top: 27px;
}

.partners__link--1 {
  margin-left: 22px;
}

.partners__link--4 {
  margin-left: -1px;
}

.partners {
  height: 120px;
}

.comments {
  height: 398px;
  padding-top: 103px;
}

.comments__item--3,
.comments__item--4,
.comments__item--5 {
  display: inline-block;
  width: 209px;
  margin-right: 35px;
}

.comments__item--4 {
  margin-right: 30px;
}

.comments__item--5 {
  margin-right: 0;
}

.comment-text {
  height: 165px;
  letter-spacing: -.4px;
}

footer {
  padding-top: 23px;
}

.menu-main--footer {
  margin-left: 20px;
}

.menu-main--footer .menu-main__item--3 {
  margin-right: 29px;
}

.menu-main--footer .menu-main__link {
  margin-right: 30px;
  font-size: 20px;
}

.copyright {
  text-align: right;
  margin-right: 20px;
  font-size: 11px;
  word-spacing: 1px;
}
