.wrapper {
  width: 320px;
  margin: 0 auto;
  font-family: "League Gothic", sans-serif;
}

.page-top {
  height: 517px;
  background: url('../img/bg_top.jpg') 50% 0 no-repeat fixed;
  border-bottom: 1px solid #33253a;
}

header {
  height: 120px;
  padding-top: 66px;
  text-align: center;
}

.logo {
  height: 55px;
  font-family: "League Gothic", sans-serif;
  font-size: 48px;
  letter-spacing: -.55px;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,.3);
  text-transform: uppercase;
}

.logo--header span {
  color: rgb(50, 37, 57);
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  text-shadow: none;
}

.menu-main {
  display: none;
}

.menu-mobile__item,
.menu-dropdown {
  width: 244px;
}

.menu-mobile {
  position: relative;
  left: 39px;
  z-index: 100;
  margin-top: 12px;
}

.menu-mobile__item:hover,
.menu-dropdown {
  border: 1px solid #051116;
  background: rgba(54, 41, 62, 0.9);
}

.menu-mobile__item:hover,
.menu-dropdown__link {
  border-top: 1px solid #503d58;
  border-bottom: 1px solid #36283e;

}

.menu-dropdown {
  position: absolute;
  top: 46px;
  left: -1px;
  border-top: none;
  border-radius: 0 0 10px 10px;
  transition: all 0.7s ease;
  display: none;
}

.menu-mobile__item:hover .menu-dropdown {
  display: block;
}

.menu-mobile__item,
.menu-dropdown__link {
  list-style: none;
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.menu-mobile__item {
  position: relative;
  padding: 12px 0 9px;
}

.menu-mobile__item::after {
  position: relative;
  left: 98px;
  top: 5px;
  content: "";
  display: block;
  width: 45px;
  border: 1px solid #edbfff;
}

.menu-dropdown__link {
  display: block;
  padding: 7.5px 0 9px;
  text-decoration: none;
}

.menu-mobile__item:hover {
  left: -1px;
  top: -1px;
  border-radius: 10px 10px 0 0;
}

.menu-dropdown__link:hover {
  padding-bottom: 8px;
  box-sizing: border-box;
  border-bottom: 2px solid #edbfff;
  background: rgba(44,35,50,.5)
}

.menu-dropdown__link--last {
  border-radius: 0 0 10px 10px;
}

.slider {
  margin-top: 110px;
  padding-left: 12px;
}

.slide-description {
  width: 203px;
  height: 55px;
  margin: 0 auto;
  overflow: hidden;
  text-shadow: 0 2px 2px rgba(0,0,0,.3);
  font-weight: 100;
  }

.slide-title {
  margin-bottom: 2px;
  font-size: 36px;
  text-transform: capitalize;
	color: #fefefe;
}

.slide-subtitle {
  font-size: 18px;
  text-transform: uppercase;
	color: #edbfff;
}

.slide-text,
.slide-image {
  display: none;
}

.toggle {
  width: 83px;
  height: 17px;
  margin: 80px auto 0;
}

.toggle__link {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 2px;
  border-radius: 50%;
  background: rgba(0, 0, 0, .3);
}

.toggle__link--first {
  margin-left: 0px;
}

.toggle__link--active::after {
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.8);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.8);
  box-shadow: 0 0 5px rgba(0,0,0,.8);
  border: solid 1px #fff;
  background-image: -webkit-linear-gradient(bottom, #d4d4d4, #fff);
  background-image: -moz-linear-gradient(bottom, #d4d4d4, #fff);
  background-image: -o-linear-gradient(bottom, #d4d4d4, #fff);
  background-image: -ms-linear-gradient(bottom, #d4d4d4, #fff);
  background-image: linear-gradient(to top, #d4d4d4, #fff);
}

.toggle__link:hover {
  background: rgba(255, 255, 255, 0.3);
}

.toggle__link--active:hover {
  background: rgba(0, 0, 0, .3);
}

.info {
  height: 598px;
  padding-top: 45px;
  box-sizing: border-box;
  border-bottom: 1px solid #21333b;
  background-image: -webkit-linear-gradient(bottom, #322539, #745083);
  background-image: -moz-linear-gradient(bottom, #322539, #745083);
  background-image: -o-linear-gradient(bottom, #322539, #745083);
  background-image: -ms-linear-gradient(bottom, #322539, #745083);
  background-image: linear-gradient(to top, #322539, #745083);
}

.info__item {
  width: 278px;
  height: 130px;
  margin: 25px auto 0;
  padding-left: 60px;
  box-sizing: border-box;
}

.info__item--3 {
  margin-top: 45px;
}

.info-title {
  position: relative;
  font-size: 24px;
  color: #fff;
  text-shadow: 1px 1px #0f1518;
  text-transform: uppercase;
}

.info-title::before {
  position: absolute;
  left: -51px;
  top: 2px;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url('../img/about.png') 100% 0;
}

.info-text {
  display: block;
  width: 194px;
  height: 75px;
  overflow: hidden;
  line-height: 25px;
  letter-spacing: -.4px;
  font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #fff;
	text-shadow: 1px 1px #0f1518;
}

.info__item--chat .info-text {
  margin-top: 3px;
}

.info__link {
  display: block;
  margin-top: 15px;
  margin-right: 6px;
  text-align: right;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px #0f1518;
  text-decoration: none;
  text-transform: uppercase;
}

.info__link:hover {
  text-shadow: 0 0 8px rgba(255,255,255,.8);
}

.news-block {
  height: 785px;
  padding-top: 70px;
  box-sizing: border-box;
  background: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 20px 20px -25px #000000 inset;
}

.post__item {
  width: 257px;
  height: 271px;
  margin-left: 43px;
  padding: 24px 39px 35px 36px;
  box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.post-title,
.post__link {
  font-size: 24px;
	text-transform: uppercase;
	text-shadow: 1px 1px #fff;
}

.post-title {
  position: relative;
  color: #454545;
}

.post-title::before {
  position: absolute;
  left: -60px;
  top: -7px;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url('../img/icons.png') 100% 0;
}

.post__link {
color: #edbfff;
text-decoration: none;
}

.post-text {
  display: block;
  width: 178px;
  height: 170px;
  margin: 4px 0 0 2px;
  overflow: hidden;
  word-wrap: break-word;
  word-spacing: -2.5px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #454545;
  text-shadow: 1px 1px #fff;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.toggle--post {
  margin: 23px 0 0 45px;
  text-align: center;
}

.toggle--post .toggle__link {
  border: solid 1px #e6e6e6;
  background: #fff;
}

.toggle--post .toggle__link--active::after {
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px #454545;
  background-image: -webkit-linear-gradient(bottom, #454545, #6a6a6a);
  background-image: -moz-linear-gradient(bottom, #454545, #6a6a6a);
  background-image: -o-linear-gradient(bottom, #454545, #6a6a6a);
  background-image: -ms-linear-gradient(bottom, #454545, #6a6a6a);
  background-image: linear-gradient(to top, #454545, #6a6a6a);
}

.toggle--post .toggle__link:hover {
  background: rgba(0, 0, 0, .5);
}

.toggle--post .toggle__link--active:hover {
  background: rgba(255, 255, 255, 0.3);
}

.updates {
  width: 280px;
  height: 260px;
  margin: 44px 0 0 18px;
}

.updates-title {
  font-size: 30px;
  color: #454545;
  text-shadow: 1px 1px #fff;
  text-transform: uppercase;
}

.updates-content__item {
  position: relative;
  margin: 20px 0 24px 66px;
}

.updates-content__item::before {
  position: absolute;
  left: -67px;
  top: -5px;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url('../img/icons.png');
}

.updates-content__item--1::before {
  background-position: 65% 32%;
}

.updates-content__item--2::before {
  background-position: 33% 66%;
}

.updates-content__item--3::before {
  background-position: 0 100%;
}

.updates-content__item--3 {
  margin-top: 30px;
}

.updates-content-title {
  width: 155px;
  height: 17px;
  margin-bottom: 7px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #454545;
  text-shadow: 1px 1px #fff;
}

.updates-content-text {
  height: 17px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #454545;
  text-shadow: 1px 1px #fff;
  word-spacing: -2px;
}

.updates__link {
  display: block;
  margin: -2px 4px 0 0;
  text-align: right;
  font-size: 18px;
  color: #454545;
  text-shadow: 1px 1px #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.updates__link--desktop {
    display: none;
}

.partners {
  height: 423px;
  background: #f9f9f9;
}

.partners__link {
  display: inline-block;
  height: 65px;
  margin-top: 53px;
  background: url('../img/logos.png') no-repeat;
}

.partners__link--1 {
  width: 70px;
  margin: 0 52px 0 61px;
}

.partners__link--2 {
  width: 74px;
  background-position: -135px 0;
}

.partners__link--3 {
  width: 65px;
  margin: 57px 63px 0 69px;
  background-position: -270px 0;
}

.partners__link--4 {
  width: 65px;
  background-position: -410px 0;
}

.partners__link--5 {
  width: 105px;
  margin: 38px 50px 0 41px;
  background-position: -528px 0;
}

.partners__link--6 {
  width: 80px;
  margin-top: 38px;
  background-position: -695px 0;
}

.comments {
  display: none;
}

footer {
  height: 200px;
  padding-top: 42px;
  box-sizing: border-box;
  background: url('../img/bg_bottom_mobile.jpg') 50% 0;
  box-shadow: 0 20px 20px -20px #000000 inset;
}

.copyright,
.copyright__link {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0,0,0,.4);
  word-spacing: -1.5px;
}

.copyright {
  text-align: center;
  font-size: 12px;
}

.copyright__link {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
