.wrapper {
  width: 960px;
}

.page-top {
  height: 846px;
}

header {
  padding-top: 66px;
}

.logo {
  float: left;
  padding-left: 0;
}

.menu-main {
  float: right;
  margin-top: 4px;
  margin-right: -5px;
}

.menu-main--header .menu-main__item {
  margin-right: 39px;
}

.menu-main--header .menu-main__item--3 {
  margin-right: 41px;
}

.menu-main--header .menu-main__item--6 {
  margin-right: 0;
}

.slider {
  margin-top: 34px;
}

.slide-description {
  left: 0;
  top: -115px;
  width: 505px;
  height: auto;
}

.slide-title {
  width: 300px;
  margin-bottom: 0;
  font-size: 60px;
  word-spacing: 0;
}

.slide-subtitle {
  width: 403px;
  height: auto;
  margin-top: 0;
  font-size: 32px;
  letter-spacing: -.1px;
}

.slide-text {
  width: auto;
  height: auto;
  margin-top: 5px;
  font-size: 18px;
  letter-spacing: -.4px;
  line-height: 24px;
}

.slide-image {
  top: -17px;
  left: 109px;
}

.toggle {
  left: 272px;
  margin-top: 93px;
}

.info__item {
  width: 276px;
  margin-left: 7px;
  margin-right: 53px;
}

.info__item--3 {
  margin-right: 0;
  margin-left: 6px;
}

.info-title {
  width: 220px;
  font-size: 30px;
}

.info-title::before {
  top: 8px;
  left: -52px;
}

.info__item--2 .info-title::before {
  background-position: 50% 50%;
}

.info__item--3 .info-title::before {
  background-position: 0 100%;
}

.info-text {
  width: 220px;
  height: 135px;
  margin-top: 7px;
  line-height: 24px;
}

.info__link {
  position: relative;
  left: 145px;
  width: 75px;
}

.post {
  width: 450px;
}

.post-title {
  margin-top: 2px;
}

.post-title h3,
.post__link {
  display: inline-block;
  font-size: 30px;
}

.post__item {
  width: 427px;
  margin-left: 22px;
}

.post-text {
  width: 347px;
  height: 170px;
}

.toggle--post {
  margin-top: 21px;
  margin-left: 28px;
}

.updates {
  top: -18px;
  width: 435px;
  height: 265px;
  margin-left: 57px;
}

.updates-content {
  width: auto;
}

.updates-content-text {
  width: auto;
  height: 18px;
}

.updates__link--desktop{
    display: block;
}

.updates__link--mobile {
    display: none;
}

.updates__link {
  padding-right: 0;
}

.partners__link {
  margin-top: 25px;
}

.partners__link--1 {
  margin-left: 93px;
  margin-right: 62px;
}

.partners__link--2 {
  margin-right: 61px;
}

.partners__link--3 {
  margin-right: 71px;
}

.partners__link--4 {
  margin-right: 11px;
}

.partners__link--5 {
  margin-right: 60px;
}

.comments {
  padding-top: 96px;
}

.comments__item--1,
.comments__item--2,
.comments__item--3 {
  float: left;
  width: 280px;
  height: 210px;
  overflow: hidden;
  display: inline-block;
  margin-left: 0;
  margin-right: 57px;
}

.comments__item--2 {
  margin-right: 60px;
}

.comments__item--3 {
  margin-right: 0;
}

.comments__item--4,
.comments__item--5 {
  display: none;
}

.logo--comments {
  float: none;
  margin-top: -2px;
  color: #454545;
  text-shadow: 0 1px #fff;
}

.logo--comments span {

}

.comment-title {
  font-size: 30px;
}

.comment-text {
  letter-spacing: -.4px;
}

.comments-copyright {
  margin-top: 8px;
  margin-bottom: 2px;
  font-family: Georgia, sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #c5c5c5;
  text-shadow: 1px 1px #fff;
  letter-spacing: -.2px;
}

footer {
  height: 114px;
  background: url('../img/bg_bottom.jpg') 50% 0;
  padding-top: 37px;
}

.menu-main--footer {
  float: left;
  margin-left: 0;
}

.menu-main--footer .menu-main__item {
  margin-right: 10px;
}

.menu-main--footer .menu-main__item--3 {
  margin-right: 13px;
}

.copyright {
  float: right;
  margin-top: 14px;
  margin-right: 0;
}
