.wrapper {
  width: 480px;
}

.page-top {
  height: 548px;
}

.menu-mobile {
  left: 120px;
  margin-top: 11px;
}

.slider {
  margin-top: 17px;
  padding-left: 0;
}

.slide {
  height: 246px;
  background: rgba(0, 0, 0, 0.2);
}

.wrapper--slider {
  position: relative;
}

.slide-description {
  position: relative;
  top: -155px;
  left: 40px;
  width: 210px;
  display: inline-block;
}

.slide-image {
  position: relative;
  top: -10px;
  left: 45px;
  display: inline-block;
  width: 192px;
  height: 304px;
}

.slide-subtitle {
  letter-spacing: .2px;
}

.toggle {
  position: relative;
  left: 5px;
  margin-top: 22px;
  text-align: center;
}

.info {
  padding-top: 52px;
}

.info__item {
  width: 425px;
  padding-left: 56px;
}

.info__item--2 {
  margin-top: 27px;
}

.info__item--3 {
  margin-top: 30px;
}

.info-text {
  width: 365px;
  margin-top: 2px;
  line-height: 25px;
  letter-spacing: -.33px;
}

.info__link {
  margin-right: -2px;;
}

.post__item {
  width: 415px;
  padding-top: 26px;
  padding-left: 40px;
}

.post-title h3,
.post__link {
  display: inline-block;
  font-size: 30px;
}

.post-title::before {
  top: -9px;
  left: -63px;
}

.post__link {
  word-spacing: 1px;
}

.post-text {
  width: 350px;
  margin-top: 15px;
  margin-left: 1px;
  letter-spacing: -.5px;
  word-spacing: 1px;
}

.toggle--post {
  margin-left: 17px;
}

.updates {
  margin-left: 85px;
}

.updates-content {
  width: 341px;
}

.updates-content__item--2 {
  margin-top: 27px;
}

.updates-content__item--3 {
  margin-top: 25px;
}

.updates-content-title {
  width: 260px;
}

.updates-content-text {
  width: 255px;
}

.updates__link {
  margin-top: 24px;
}

.info {
  height: 599px;
}

.partners {
  height: 233px;
}

.partners__link {
  margin-top: 38px;
}

.partners__link--1 {
  margin-left: 84px;
}

.partners__link--2 {
  margin-right: 50px;
}

.partners__link--3 {
  margin-left: 0;
}

.partners__link--4 {
  margin-left: 69px;
}

.partners__link--4,
.partners__link--5,
.partners__link--6 {
  margin-top: 22px;
}

.comments {
  display: block;
  overflow: hidden;
  height: 669px;
  padding-top: 80px;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  background: #ececec;
}

.comments__item--1,
.comments__item--2 {
  display: none;
}

.comments__item {
  width: 440px;
  margin-left: 20px;
}

.comment-title {
  font-size: 24px;
  color: #454545;
  text-shadow: 1px 1px #fff;
  text-transform: uppercase;
}

.comment-text {
  height: 95px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 58px;
  line-height: 24px;
  letter-spacing: -.38px;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #787878;
	text-shadow: 1px 1px #fff;
}

.comments__item--4 {
  margin-bottom: 60px;
}

.footer {
  padding-top: 50px;
}

.menu-main--footer {
  display: block;
  margin-left: 24px;
}

.menu-main__item {
  display: inline-block;
  margin-top: 4px;
  margin-right: 22px;
}

.menu-main__link {
  display: block;
  font-family: "League Gothic", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0,0,0,.4);
}

.menu-main__item--last {
  margin-right: 0;
}

.copyright {
  margin-top: 36px;
}
